/.vscode
.phpunit.result.cache
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
.php-cs-fixer.cache
composer.lock
.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
/phpstan.neon
/phpunit.xml
