networks:
  project-databases-network:
    name: project-databases-network
    external: true

x-common-variables: &common-variables
  APP_NAME: skeleton
  APP_ENV: dev
  APP_DEBUG: true
  DB_CONNECTION: pgsql
  DB_HOST: project-redis
  DB_PORT: 5432
  DB_DATABASE: project
  DB_USERNAME: project
  DB_PASSWORD: project
  REDIS_HOST: project-redis
  REDIS_PORT: 6379
  REDIS_AUTH: project
  REDIS_PREFIX: project_
  FLY_DOCS_MODE: lazy
  TELESCOPE_DB_CONNECTION: pgsql
  TELESCOPE_ENABLE_REQUEST: true
  TELESCOPE_ENABLE_COMMAND: true
  TELESCOPE_ENABLE_GRPC: true
  TELESCOPE_ENABLE_LOG: true
  TELESCOPE_ENABLE_REDIS: true
  TELESCOPE_ENABLE_EVENT: true
  TELESCOPE_ENABLE_EXCEPTION: true
  TELESCOPE_ENABLE_JOB: true
  TELESCOPE_ENABLE_DB: true
  TELESCOPE_ENABLE_GUZZLE: true
  TELESCOPE_ENABLE_CACHE: true
  TELESCOPE_ENABLE_RPC: true
  TELESCOPE_SERVER_ENABLE: true

services:
  skeleton-migrations:
    build:
      context: .
      dockerfile: docker/image/Dockerfile
    container_name: skeleton-migrations
    tty: true
    stdin_open: true
    restart: "no"
    environment:
      <<: *common-variables
    networks:
      - project-databases-network
    command: ["php bin/hyperf.php migrate --no-interaction --force"]


  skeleton-api:
    depends_on:
      skeleton-migrations:
        condition: service_completed_successfully
      skeleton-init-topic:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: docker/image/Dockerfile
    container_name: skeleton-api
    command: ["php bin/hyperf.php start"]
    ports: [ "9501:9501" ]
    environment:
      <<: *common-variables
      APP_ROLES: "api"
    networks:
      - project-databases-network

  skeleton-queue:
    depends_on:
      skeleton-migrations:
        condition: service_completed_successfully
      skeleton-init-topic:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: docker/image/Dockerfile
    container_name: skeleton-queue
    command: ["php bin/hyperf.php start"]
    environment:
      <<: *common-variables
      APP_ROLES: "queue"
    networks:
      - project-databases-network

  skeleton-cron:
    depends_on:
      skeleton-migrations:
        condition: service_completed_successfully
      skeleton-init-topic:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: docker/image/Dockerfile
    container_name: skeleton-cron
    command: ["php bin/hyperf.php start"]
    environment:
      <<: *common-variables
      APP_ROLES: "cron"
    networks:
      - project-databases-network

  skeleton-kafka:
    depends_on:
      skeleton-migrations:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: docker/image/Dockerfile
    container_name: skeleton-kafka
    command: ["php bin/hyperf.php start"]
    environment:
      <<: *common-variables
      APP_ROLES: "kafka"
    networks:
      - project-databases-network